@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

body {
    font-family: 'Lato', sans-serif;
    /* background-color:blue; */
    margin:0px; padding: 0px;
    position:absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    /* background-color:blue; */
    display:flex;
}

#side-nav {
    width:260px;
    background-color: black;
}

#right-container {
    background-color:lightcyan;
    display:flex;
    flex-direction:column;
    flex: 1;
}

#top-nav {
    height:66px;
    background-color:black;
    display:flex;
    align-items: center;
    justify-content: center;
}

#body {
    background-image:url(https://client.themailshark.net/bk-main.443cc52a6aba1f1a22f9.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0% 0%;
    color:white;
    padding:25px;
    flex:1;
}

#quick-links {
    /* background-color:lightcoral; */
    max-width:66%;
}

.row {
    display:flex;
}

.quick-link {
    margin:10px;
    background-color:white;
    color:black;
    flex:1;
    height:133px;
    display:flex;
    align-items: center;
    justify-content: center;
    border-radius:5px;
    transition:.2s;
}

.quick-link:hover {
    cursor:pointer;
    background-color:#1594e0;
    color:white;
}

.quick-link:hover svg {
   color:white;
}



.ql-title {
    margin-top:0px;
    margin-bottom:10px;
}

.link-contents {
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
}

.link-contents > svg {
    color:#1594e0;
}


